form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.application {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 0;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-in-out;
}
.but-appl {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsl(219.14deg 95.45% 56.86%);
    --btn-bg-2: hsl(267.57deg 82.96% 43.73%);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.but-appl:hover {
  background-position: right top;
}

.but-appl:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .but-appl {
    transition: linear;
  }
}
.application h2, .application p {
    text-align: center;
    color: #6a11cb;
}
.swords {
    display: none; /* По умолчанию скрываем мечи */
}

.sword-left, .sword-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px; /* Увеличиваем размер мечей */
    height: auto;
    z-index: 0;
}

.sword-left {
    left: -310px; /* Отступ от текста до середины черного поля */
}

.sword-right {
    right: -310px; /* Отступ от текста до середины черного поля */
}

/* Показываем мечи только на больших экранах */
@media (min-width: 1200px) {
    .swords {
        display: block;
    }
}
.clan-description h2 {
    color: #6a11cb;
    margin-bottom: 15px;
}
.clan-description {
    color: #fff;
}
.clan-art {
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
/* Стили для арта клана */
.clan-art-image {
    width: 100%; /* Арт будет занимать всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    border-radius: 10px; /* Скругляем углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}
.clan-section {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.player-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.player-list li {
    margin: 10px 0;
}

.player-list button {
    padding: 10px 20px;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.player-list button:hover {
    background-color: #6a11cb;
}

.mobile-menu {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}
.seasons-buttons {
    list-style: none;
    padding: 0;
}

.seasons-buttons li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.seasons-buttons button {
    background-color: #3751d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 10px;
}

.seasons-buttons button:hover {
    background-color: #4c6cf0;
    transform: translateY(-2px);
}

.seasons-buttons button:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

.seasons-buttons button:disabled:hover {
    transform: none;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 15px; /* Уменьшаем паддинги на мобильных устройствах */
    }
}
/* Общие стили для страницы */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden; /* Скрываем горизонтальный скролл */
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFD700;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

/* Стили для контейнера */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для шапки */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.2s ease;
    padding: 5px 10px;
}

.header nav a:hover {
    color: #FFD700;
    transform: translateY(-2px);
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .header nav a {
        font-size: 14px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .header nav a {
        font-size: 12px;
        padding: 5px;
    }
}

/* Стили для основного заголовка */
.main-title {
    color: #6a11cb;
    text-align: center;
    font-size: 35px;
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для текста поверх изображения */
.text-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

/* Стили для секции видео */
.video {
    background-color: #6a11cb;
    padding: 40px 0;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-in-out;
}

.video iframe {
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Стили для формы заявки */
.application {
    padding: 40px 0;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input, button {
    background-color: rgb(26 26 26);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

button {
    background-color: #6a11cb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #511394;
    transform: translateY(-2px);
}

button:active {
    background-color: #511394;
    transform: translateY(1px);
}

/* Стили для отзывов */
.reviews {
    background-color: #fff;
    padding: 40px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

.review {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fafafa;
}

/* Стили для футера */
footer {
    background-color: #6a11cb;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

/* Стили для основного раздела */
.main {
    max-width: 1000px;
    margin: 60px auto 20px;
    padding: 20px;
    min-height: calc(100vh - 90px);
    background-image: url("MonolithBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
